@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  border: 10px solid black;
  /*   justify-items: stretch; */
  /*   align-items: center; */
  /* justify-content: space-evenly; */

  height: 500px;
  align-content: space-evenly;
}

.item4 {
  justify-self: center;
}

.item6 {
  align-self: center;
}
